In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

house_price_data = pd.read_csv("House Pricing.csv")
num_nan_rows = house_price_data.isnull().sum(axis=1).astype(bool).sum()
total_rows = house_price_data.shape[0]
print('Number of records in total: {}\nNumber of records that has NaN values: {}'.format(total_rows, num_nan_rows))

Number of records in total: 545
Number of records that has NaN values: 0

In [2]:
house_price_data.head()
house_price_data.columns

for col in house_price_data.columns:
    print("Unique values in column '{}' are: ".format(col))
    print(house_price_data[col].unique())

Unique values in column 'price' are:
[13300000 12250000 12215000 11410000 10850000 10150000  9870000  9800000
  9681000  9310000  9240000  9100000  8960000  8890000  8855000  8750000
  8680000  8645000  8575000  8540000  8463000  8400000  8295000  8190000
  8120000  8080940  8043000  7980000  7962500  7910000  7875000  7840000
  7700000  7560000  7525000  7490000  7455000  7420000  7350000  7343000
  7245000  7210000  7140000  7070000  7035000  7000000  6930000  6895000
  6860000  6790000  6755000  6720000  6685000  6650000  6629000  6615000
  6580000  6510000  6475000  6440000  6419000  6405000  6300000  6293000
  6265000  6230000  6195000  6160000  6125000  6107500  6090000  6083000
  6020000  5950000  5943000  5880000  5873000  5866000  5810000  5803000
  5775000  5740000  5652500  5600000  5565000  5530000  5523000  5495000
  5460000  5425000  5390000  5383000  5320000  5285000  5250000  5243000
  5229000  5215000  5145000  5110000  5075000  5040000  5033000  5005000
  4970000  4956000  4935000  4907000  4900000  4893000  4865000  4830000
  4795000  4767000  4760000  4753000  4690000  4655000  4620000  4613000
  4585000  4550000  4543000  4515000  4480000  4473000  4445000  4410000
  4403000  4382000  4375000  4340000  4319000  4305000  4277000  4270000
  4235000  4200000  4193000  4165000  4130000  4123000  4098500  4095000
  4060000  4025000  4007500  3990000  3920000  3885000  3850000  3836000
  3815000  3780000  3773000  3745000  3710000  3703000  3675000  3640000
  3633000  3605000  3570000  3535000  3500000  3493000  3465000  3430000
  3423000  3395000  3360000  3353000  3332000  3325000  3290000  3255000
  3234000  3220000  3150000  3143000  3129000  3118850  3115000  3087000
  3080000  3045000  3010000  3003000  2975000  2961000  2940000  2870000
  2852500  2835000  2800000  2730000  2695000  2660000  2653000  2604000
  2590000  2520000  2485000  2450000  2408000  2380000  2345000  2310000
  2275000  2240000  2233000  2135000  2100000  1960000  1890000  1855000
  1820000  1767150  1750000]
Unique values in column 'area' are:
[ 7420  8960  9960  7500  8580 16200  8100  5750 13200  6000  6550  3500
  7800  6600  8500  4600  6420  4320  7155  8050  4560  8800  6540  8875
  7950  5500  7475  7000  4880  5960  6840  7482  9000  6360  6480  4300
  7440  6325  5150 11440  7680  8880  6240 11175  7700 12090  4000  5020
  4040  4260  6500  5700 10500  3760  8250  6670  3960  7410  5000  6750
  4800  7200  4100  6400  6350  4500  5450  3240  6615  8372  9620  6800
  8000  6900  3700  7020  7231  6254  7320  6525 15600  7160 11460  5828
  5200  5400  4640  5800  6660  4700  5136  4400  3300  3650  6100  2817
  7980  3150  6210  6825  6710  6450 10269  8400  5300  3800  9800  8520
  6050  7085  3180  3410  3000 11410  5720  3540  7600 10700  8150  4410
  7686  2800  5948  4200  4520  4095  4120  4770  6300  2970  6720  4646
 12900  3420  4995  4350  4160  6040  6862  4815  9166  6321 10240  6440
  5170  3630  9667  3745  3880  5680  2870  5010  4510  3840  3640  2550
  5320  5360  3520  4990  3510  3450  9860  5885  3162  3750  3968  4900
  2880  4920  4950  3900  1905  4075  4032 10360  3400  2175  4360  7770
  6650  2787  5040  5850  2610  2953  2747  2325  4079  2145  4840  4080
  4046  4632  5985  6060  3600  3680  5600  5900  4992  4340  3460  4050
  7260  3290  3816  8080  3780  7152  3850  2015  2176  3350  4820  5830
  2856  2520  6930  3480  6020  3584  3120  5640  4280  3570  4130  2850
  2275  4240  2135  3036  3990  7424  7350  3512  9500  5880 12944  3060
  3185  1950  4785  4960  4750  3720  3100  2700  4775  2500  3792  3930
  4370  2684  3986  1650  3069  5495  2398  2160  3090  2835  5076  4352
  3660  3040  2640  2650  3934  2000  2430  2910  3210  3635  2475  3264
  1836  3970  2400  3360  1700  3649  2990  3620]
Unique values in column 'bedrooms' are:
[4 3 5 2 6 1]
Unique values in column 'bathrooms' are:
[2 4 1 3]
Unique values in column 'stories' are:
[3 4 2 1]
Unique values in column 'mainroad' are:
['yes' 'no']
Unique values in column 'guestroom' are:
['no' 'yes']
Unique values in column 'basement' are:
['no' 'yes']
Unique values in column 'hotwaterheating' are:
['no' 'yes']
Unique values in column 'airconditioning' are:
['yes' 'no']
Unique values in column 'parking' are:
[2 3 0 1]
Unique values in column 'prefarea' are:
['yes' 'no']
Unique values in column 'furnishingstatus' are:
['furnished' 'semi-furnished' 'unfurnished']

In [3]:
house_price_data['mainroad'] = house_price_data['mainroad'].map({'yes': 1, 'no': 0})
house_price_data['guestroom'] = house_price_data['guestroom'].map({'yes': 1, 'no': 0})
house_price_data['basement'] = house_price_data['basement'].map({'yes': 1, 'no': 0})
house_price_data['hotwaterheating'] = house_price_data['hotwaterheating'].map({'yes': 1, 'no': 0})
house_price_data['airconditioning'] = house_price_data['airconditioning'].map({'yes': 1, 'no': 0})
house_price_data['prefarea'] = house_price_data['prefarea'].map({'yes': 1, 'no': 0})
house_price_data['furnishingstatus'] = house_price_data['furnishingstatus'].map({'unfurnished': 0, 'semi-furnished': 1, 'furnished': 2})
house_price_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
house_price_data['id'] = [i for i in range(len(house_price_data))]
id = house_price_data.pop('id')
normalized_hp = pd.DataFrame(scaler.fit_transform(house_price_data), columns=house_price_data.columns)
normalized_hp = pd.concat([normalized_hp, id.reset_index(drop=True)], axis=1)
last_col = normalized_hp.pop(normalized_hp.columns[-1])
normalized_hp.insert(0, last_col.name, last_col)
normalized_hp.head(20)

,id,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,0,4.566365,1.046726,1.403419,1.421812,1.378217,0.405623,-0.465315,-0.734539,-0.219265,1.472618,1.517692,1.804941,1.406286
1,1,4.004484,1.757010,1.403419,5.405809,2.532024,0.405623,-0.465315,-0.734539,-0.219265,1.472618,2.679409,-0.554035,1.406286
2,2,4.004484,2.218232,0.047278,1.421812,0.224410,0.405623,-0.465315,1.361397,-0.219265,-0.679063,1.517692,1.804941,0.091662
3,3,3.985755,1.083624,1.403419,1.421812,0.224410,0.405623,-0.465315,1.361397,-0.219265,1.472618,2.679409,1.804941,1.406286
4,4,3.554979,1.046726,1.403419,-0.570187,0.224410,0.405623,2.149083,1.361397,-0.219265,1.472618,1.517692,-0.554035,1.406286
5,5,3.255309,1.083624,0.047278,3.413810,-0.929397,0.405623,-0.465315,1.361397,-0.219265,1.472618,1.517692,1.804941,0.091662
6,6,2.880722,1.581745,1.403419,3.413810,2.532024,0.405623,-0.465315,-0.734539,-0.219265,1.472618,1.517692,1.804941,0.091662
7,7,2.880722,5.096263,2.759560,3.413810,0.224410,0.405623,-0.465315,-0.734539,-0.219265,-0.679063,-0.805741,-0.554035,-1.222962
8,8,2.730887,1.360358,1.403419,-0.570187,0.224410,0.405623,2.149083,1.361397,-0.219265,1.472618,1.517692,1.804941,1.406286
9,9,2.693428,0.276484,0.047278,1.421812,2.532024,0.405623,2.149083,-0.734539,-0.219265,1.472618,0.355976,1.804941,-1.222962
10,10,2.693428,3.712595,0.047278,-0.570187,0.224410,0.405623,-0.465315,1.361397,-0.219265,1.472618,1.517692,1.804941,1.406286
11,11,2.629748,0.391790,1.403419,3.413810,0.224410,0.405623,2.149083,1.361397,4.560702,-0.679063,1.517692,-0.554035,0.091662
12,12,2.431217,0.645462,1.403419,1.421812,0.224410,0.405623,-0.465315,-0.734539,-0.219265,1.472618,0.355976,1.804941,0.091662
13,13,2.393758,-0.761267,1.403419,1.421812,0.224410,0.405623,-0.465315,-0.734539,4.560702,-0.679063,1.517692,-0.554035,1.406286
14,14,2.393758,1.221991,0.047278,1.421812,0.224410,0.405623,-0.465315,-0.734539,-0.219265,-0.679063,-0.805741,1.804941,0.091662
15,15,2.318841,0.391790,1.403419,-0.570187,0.224410,0.405623,-0.465315,1.361397,-0.219265,-0.679063,1.517692,-0.554035,0.091662
16,16,2.318841,0.668524,1.403419,1.421812,0.224410,0.405623,2.149083,1.361397,-0.219265,1.472618,0.355976,1.804941,-1.222962
17,17,2.243923,1.544847,0.047278,1.421812,2.532024,0.405623,-0.465315,-0.734539,-0.219265,1.472618,1.517692,-0.554035,1.406286
18,18,2.206465,-0.253922,0.047278,1.421812,0.224410,0.405623,2.149083,-0.734539,-0.219265,1.472618,1.517692,-0.554035,1.406286
19,19,2.187735,0.585503,0.047278,1.421812,0.224410,0.405623,-0.465315,-0.734539,-0.219265,1.472618,0.355976,1.804941,0.091662

In [5]:
normalized_hp.to_csv('cleaned_data_house.csv', index=False)